<!DOCTYPE html>
<html lang="en">
<head>
    {% include './app-meta.html' %}

    <link href="/dist/css/fonts.css" rel="stylesheet">
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/src/docs.css" rel="stylesheet">

    {% block head_extra %}{% endblock %}
</head>

<body {% block body_attributes %}{% endblock %}>

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
    const images = document.querySelectorAll('[data-src]');
const config = {
rootMargin: '0px 0px 50px 0px',
threshold: 0
};
let loaded = 0;

const observer = new IntersectionObserver(function (entries, self) {
entries.forEach(entry => {
  if (entry.isIntersecting) {
    // console.log(`Image ${entry.target.src} is in the viewport!`);
    preloadImage(entry.target);
    // Stop watching and load the image
    self.unobserve(entry.target);
  }
});
}, config);

images.forEach(image => {
observer.observe(image);
});

function preloadImage(img) {
const src = img.getAttribute('data-src');
if (!src) { return; }
img.src = src;
}
    </script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
